@import "tailwindcss";

@theme {
  --color-primary-background: #121212;
  --color-secondary-background: #161616;
  --color-primary: #ff7657;
  --color-primary-dark: #f8615a;
  --color-para: #787878;
  --color-primary-vector: #1d1d1d;
  --color-primary-vector2: #212121;
  --color-about: #151515;
  --animate-blog: ani 12s infinite linear;

  --animate-review: reviewAni 12s infinite linear;

  --animate-cards: cardsAni 16s infinite linear;

  @keyframes cardsAni {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(calc(-1 * (25% + 5px)));
    }
    50%,
    70% {
      transform: translateX(calc(-2 * (25% + 5px)));
    }
    75%,
    95% {
      transform: translateX(calc(-3 * (25% + 5px)));
    }
    100% {
      transform: translateX(calc(-4 * (25% + 5px)));
    }
  }

  @keyframes reviewAni {
    0%,
    35% {
      transform: translateX(0);
    }
    40%,
    75% {
      transform: translateX(calc(-1 * (50% + 24px)));
    }
    80%,
    95% {
      transform: translateX(calc(-2 * (50% + 24px)));
    }
    100% {
      transform: translateX(calc(-3 * (50% + 24px)));
    }
  }

  @keyframes ani {
    0%,
    35% {
      transform: translateX(0);
    }
    40%,
    75% {
      transform: translateX(calc(-1 * (50% + 32px)));
    }
    80%,
    95% {
      transform: translateX(calc(-2 * (50% + 32px)));
    }
    100% {
      transform: translateX(calc(-3 * (50% + 32px)));
    }
  }
}

.banner::before {
  position: absolute;
  content: "";
  top: -349px;
  right: -300px;
  overflow: hidden;
  width: 800px;
  height: 800px;
  border: 2px solid #ededed;
  display: block;
  border-color: #1d1d1d;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
  z-index: -1;
}

.banner::after {
  position: absolute;
  content: "";
  top: 170px;
  right: 80%;
  overflow: hidden;
  width: 800px;
  height: 800px;
  border: 2px solid #ededed;
  display: block;
  border-color: #212121;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.design::after {
  position: absolute;
  content: "";
  top: 90%;
  right: 0px;
  width: 170px;
  height: 140px;
  background: #ff7657;
  z-index: -1;
  clip-path: polygon(
    34% 32%,
    64% 46%,
    100% 31%,
    100% 55%,
    65% 70%,
    33% 56%,
    0 61%,
    0 39%
  );
  box-shadow: 0 31px 35px rgba(0, 0, 0, 0.1);
}

.design::before {
  position: absolute;
  content: "";
  top: 98%;
  right: 0;
  width: 170px;
  height: 140px;
  background: #ff7657;
  z-index: -1;
  clip-path: polygon(
    34% 32%,
    64% 46%,
    100% 31%,
    100% 55%,
    65% 70%,
    33% 56%,
    0 61%,
    0 39%
  );
  box-shadow: 0 31px 35px rgba(0,  0,  0,  0.1);
}
